.about {
	overflow: hidden;
	height: 580px;
	background-color: var(--color-eastbay);

	&__container {
		position: relative;
		display: flex;
		align-items: flex-start;
	}

	&__image {
		position: absolute;
		right: 100px;
		top: -150px;
		flex-shrink: 0;
		overflow: hidden;
		width: 500px;
		height: 850px;
		transform: rotate(15deg);
		background-color: red;

		img {
			position: absolute;
			left: 32%;
			top: -10px;
			max-width: none;
			width: 135%;
			height: 80%;
			object-fit: cover;
			transform: rotate(-15deg) translateX(-40%);
		}
	}
}