.nav {
	&__list {
		display: flex;
		align-self: center;
		padding: 8px 0;
	}

	&__item {
		&:not(:last-child) {
			margin-right: var(--main-offset);
		}
	}

	&__link {
		font: var(--small-book);
		color: var(--color-white);
	}
}